* {
     box-sizing: border-box;
   }
   
   body {
     font-family: Arial, Helvetica, sans-serif;
   }
   
   /* Float four columns side by side */
   .column {
     float: left;
     width: 25%;
     padding: 0 100px;
   }
   
   /* Remove extra left and right margins, due to padding in columns */
   .row {margin: 0 -5px;}
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   
   /* Style the counter cards */
   .card {
     box-shadow: 2px 4px 8px 2px rgb(84, 164, 255); /* this adds the "card" effect */
     padding: 5px;
     text-align: center;
     background-color: #f1f1f1;
     padding-bottom: 5%;
     padding-top: 10%;
     
   }
   
   /* Responsive columns - one column layout (vertical) on small screens */
   @media screen and (max-width: 600px) {
     .column {
       width: 100%;
       display: block;
       margin-bottom: 5px;
     }
   }


#bod{
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.inline{
  display: inline;
}